<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue + TS</title>
  </head>
  <body>
    <!-- <div id="app" class="container pt-5">
      <div class="card center">
        <h1>{{ title }} : {{ counter }}</h1>
        <div>
          <button type="button" class="btn primary" v-on:click="counter++">+</button>
          <button type="button" class="btn danger" v-on:click="counter = counter - 1">-</button>
        </div>
      </div>
    </div> -->
    <div id="app" class="container">
      <div class="card">
        <h1 :style="{ 
          color: inputValue.length > 5 ? 'green' : 'blue',
          fontSize: inputValue.length < 10 ? '2rem' : '1.5rem',
        }" >{{ title }}</h1>
        <div class="form-control">
          <!-- [1]: directive : => same v-bind  and  @ => same v-on  -->
          <!-- [2]: directive v-model => same :value = "inputValue" and  @input="inputChangeHandler" -->
          <input 
              type="text" 
              :placeholder="placeholderString"
              v-model="inputValue"
              v-on:keypress.enter="btnAddNoteHandler"
          />
          <pre :style="{color:'red'}">{{ errorMessage }}</pre>
        </div>
        <pre>inputValue: {{ inputValue }}</pre>
          <button type="button" class="btn" v-on:click="btnAddNoteHandler">Добавить</button>
          <hr>
          <ul class="list" v-if="notes.length !== 0">
            <li class="list-item" v-for="(note, i) in notes">
              <!-- <span :class="note.length > 5 ? 'primary' : 'bold'">({{ i + 1 }}) {{ note.toUpperCase() }}</span> -->
              <!-- <span :class="{
                'primary': true,
                'bold': note.length > 5,
              }">({{ i + 1 }}) {{ note.toUpperCase() }}</span> -->
              <span :class="['bold', {'primary': note.length > 8}]">({{ i + 1 }}) {{ note.toUpperCase() }}</span>
              <button class="btn danger" v-on:click="btnDelNoteHandler(i)">Удалить</button>
            </li>
          </ul>
          <!-- => проверка проходит только при v-if == false -->
          <!-- <div v-else-if="notes.length === 0">Осталось 1 заметка!</div>   -->
          <div v-else>Заметок пока нет. Добавте их.</div>
          <li>
            <strong>Общее количество: {{ notes.length }}</strong> | Удвоенное: {{ double_Notes }}
          </li>
      </div>
    </div>
    <script src="main.ts" type="module"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" type="module"></script>
  </body>
</html>
